<p style="color : Green;">
    <%= flash[:notice] %>
</p>
<span style="font-size: 3rem">Announcement Title : <%= @announcement.title %></span>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr class="h4">
            <td>
                Department :
            </td>
            <td>
                 <%= Department.find(@announcement.department_id).d_name %>
            </td>
        </tr>
        <tr class="h4">
            <td colspan="2">
                <%= simple_format(@announcement.content) %>
            </td>
        </tr>
    </table>
</div>
<p style="font-size: 2rem;color: blue">
    <%= User.find_by(:id=>@announcement.user_id).name%> Posted it at <%= @announcement.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
</p>
<p style="font-size: 2rem;color:Red">
    Update_Date : <%= @announcement.updated_at.strftime("%Y/%m/%d %H:%M:%S") %>
</p>
<div class="btn-group btn-group-lg">
    <%= link_to "Back to index", user_announcements_path, :class=>"btn btn-info"%>
    <%= link_to "Edit this Announcement", edit_user_announcement_path(@announcement), :class=>"btn btn-primary"%>
</div>